extends layout
block content

  div.idea-list.idea-item-view-header
    h1
      | The Exhibition Idea!
    h2
      | item ##{idea.id}
    div.idea-item.idea-item-view
      p.idea-item-header
        span.item-datetime!= idea.datetime
        span(class="item-type item-type-#{idea.listType}")!= idea.listType
      p!= idea.body