extends layout
block content

  div.idea-header
    h1.idea-title
      | THE EXHIBITION TEAM IDEAS

  div.idea-form
    ul.idea-types
      li.idea-type.idea-type-gray.idea-type-selected(data-idea-type='unspecified')
        | UNSPECIFIED
      li.idea-type.idea-type-red(data-idea-type='art/gallery')
        | ART/GALLERY
      li.idea-type.idea-type-blue(data-idea-type='philanthropy')
        | PHILANTHROPY
      li.idea-type.idea-type-green(data-idea-type='productivity')
        | PRODUCTIVITY
    p.form-error.hidden
    input.idea-input(placeholder='Add your idea here!')
    a.idea-submit-button(href="#")
      | SUBMIT
    p
      input.idea-filter-input(placeholder='Simple text search')

block js
  != js('//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/Cookies.js/0.4.0/cookies.min.js')
  != js('IdeaListView')